

.exercise-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: 20px;
}

.exercise-link {
  display: block;
  width: 100%;
  max-width: 300px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: "Arsenal SC", sans-serif;
  font-weight: 400;
  font-style: bold;
  font-size: 1.2rem;
  border: 3px solid #333;
  background-color: rgb(208, 82, 19);
  box-shadow: 2px 4px 10px grey;
  padding: 10px 15px;
  border-radius: 12.5px;
  transition: background-color 0.3s, color 0.3s;
}

.exercise-link:hover {
  background-color: #333;
  color: white;
}
