/* Reset margins and padding for the body and html to avoid scrollbars */
/* html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; Prevent horizontal scrolling */
  /* box-sizing: border-box; Ensure consistent sizing across elements
} */

/* Hero section */
.hero {
  position: relative;
  text-align: center;
  font-family: "Arsenal SC";
  font-weight: 400;
  font-style: normal;
  width: 100vw; 
  height: 100vh;
  overflow: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hero image */
.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  object-fit: cover;
  display: block; /* Remove default inline-block spacing that may cause issues */
}

/* Hero content */
.hero-content {
  position: relative;
 z-index: 1;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  color: white;
  background-color: rgb(208, 82, 19);
  opacity: 90%;
  padding: 10px 30px;
  border-radius: 5%;
  text-align: center;}


