.muscle-exercise-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 12.5px;
    border: 2px solid black;
    box-shadow: 2px 4px 10px grey;
    background: lightgrey;
    transition: transform 0.2s ease;
  }
  
  .muscle-exercise-item:hover {
    transform: translateY(-5px);
  }
  
  .exercise-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 8px;
  }
  
  .exercise-details {
    text-align: center;
  }
  
  .exercise-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  